@import url("../common.css");
/* ======= ABOUT US STYLE SHEET=== */
p, h2{
  font-size:30pt;
font-family: 'Crushed'
  color:#72DDF7;
}

.quote{
  text-align:left;
  color:#E980FC;
}

.profile h2 {
    text-align: left;
    width: 200px;
    margin-left: 5em;
    color:#72DDF7;
}

.profile img {
    float: left;
    height: 300px;
    width: 300px;
    margin: auto 2em 5em 2em;
}

.profile p {
  text-align:left;
  font-size: 20pt;
  margin: 1em;
  color: #3993DD;
}

.group-pics {
  height: 200px;
  width: 300px;
}
