@import url("../common.css");
/* ======= ABOUT US STYLE SHEET=== */
p {
  font-size:13pt;
font-family: 'Press Start 2P', cursive;
color:#007FFF;
}



.pic-name {
    text-align: justify;
    width: 200px;
}

.pic-name img {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.group-pics {
  height: 200px;
  width: 300px;
}
